.header-app {
    background-color:rgb(0, 0, 0);
    color: white;
    display: flex;
    min-height: 10vh;
    min-width: 100%;
    align-items: center;
    justify-content: space-between;
}

.header-text {
    display: flex;
    min-height: 10vh;
    min-width: 25%;
    align-items: center;
    justify-content: center;
}

.header-items {
    display: flex;
    min-height: 10vh;
    min-width: 30%;
    align-items: center;
    justify-content: space-around;
    font-size: 15pt;
}

.header-item {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50%;
    min-height: 10vh;
    transition: all .1s linear;
    cursor: pointer;
}

.header-item:hover {
    font-size: 17pt;
    font-weight: bolder;
}

@media (max-width: 760px) {
    .header-app {
        justify-content: center;
    }

    .header-items {
        display: none;
    }
}