.main-app {
    background: linear-gradient(#ffd166f6, #ffd166e7 100%), url("./../../resources/universe.jpg") repeat 100% fixed;
    min-height: 130vh;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40pt;
    color: white;
    font-weight: bold;
    text-align: center;
}

.div-result {
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10px;
    text-shadow: 0 2px 5px black;
}

.result {
    font-size: 100pt;
}

.result-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.result-regua {
    width: 40%;
}

@media (max-width: 760px) {
    .main-app {
        font-size: 20pt;
        min-height: 90vh;
    }

    .text-result {
        width: 90%;
    }

    .result {
        font-size: 50pt;
    }

    .result-img {
        min-width: 100%;
    }

    .result-regua {
        min-width: 70%;
    }
}